body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}
p {
  color: darkslategrey;
}
.headfirst h1 {
  color: cadetblue;
}
.button {
  text-decoration: none;
  background-color: darkolivegreen;
  color: aliceblue;
  padding: 8px 16px;
  border-radius: 4px;
}
.button:hover {
  background-color: #3e8e41;
}
.headfirst {
  float: left;
  width: 45%;
  padding: 40px;
  text-align: center;
}
.himage {
  width: 78%;
}
.header {
  background-image: url('images/header-bg.png');
}
section {
  height: 740px;
}
.helloimage {
  width: 85%;
}
.biography {
  background-image: url('images/biography-bg.png');
}
.up {
  margin-top: 60px;
}
.lw-img {
  float: left;
  width: 30%;
  text-align: center;
  padding-left: 40px;
  margin-top: 70px;
}
.ya {
  width: 80%;
}
.latest-work {
  background-image: url('images/latest-work-bg.png');
}
.last-part {
  text-align: center;
  margin-top: 160px;
}
.last {
  background-image: url('images/footer-bg.png');
}
#foot {
  text-align: center;
  font-size: 12px;
}
.rong {
  color: midnightblue;
}
